@{
    ViewBag.Title = "Home Page";
    //Layout = null;
}

<div class="row">
    <div class="col-md-8">
        <br /><br />
        <div ng-app="app">
            <br /><br />
            <div ui-view></div>
        </div>
    </div>
</div>