<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <style>
        .birth-date-text {
            display: inline-block;
            margin: 5px 10px;
            vertical-align: top;
        }

        .label
        {
            padding:8px;
        }
    </style>
</head>
<body>
    <h1>Create New Pacient</h1>
    <br />
    <div ng-show="vm.error" class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <p>{{ vm.error }}</p>
    </div>

    <div id="mydiv" ng-show="vm.loading">
        <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
    </div>


    <uib-alert type="success" close="vm.closeAlert()" ng-if="vm.showSuccessAlert" dismiss-on-timeout="5000">Patient added successfully.</uib-alert>

    <form name="createPatient" class="form-horizontal" ng-show="!vm.loading">
        <div class="form-group">
            <label for="txtName" class="control-label col-md-2">Name</label>
            <div class="col-md-10">
                <input id="txtName" type="text" class="form-control" ng-model="vm.patient.Name" required />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Gender</label>
            <div class="col-md-10">
                <label class="radio-inline">
                    <input type="radio" name="gender" value="male" ng-model="vm.GenderChk" checked> Male
                </label>
                <label class="radio-inline">
                    <input type="radio" name="gender" value="female" ng-model="vm.GenderChk"> Female
                </label>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Birth Date</label>
            <div class="col-md-10">
                <uib-datepicker ng-model="vm.patient.BirthDate" class="well well-sm" datepicker-options="vm.options" style="display:inline-block; padding:12px"></uib-datepicker>
                <div class="birth-date-text">
                    <label class="label label-info">{{vm.patient.BirthDate | date:'mediumDate' }}</label>
                </div>
            </div>
        </div>

        <input class="btn btn-default pull-right" type="submit" value="Submit" ng-click="vm.create()" ng-disabled="!createPatient.$valid">
    </form>
</body>
</html>
